<div class="activity-news">
  <div class="image-container">
    <div class="header">{{ text.news.header }}</div>
    <div class="image-card">
      <div id="feedbackCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="image-content">
              <div class="content-card">
                <img
                  src="../../../../assets/create-sound-v2/activity-point.webp"
                  alt="activity-point"
                />
              </div>
              <div class="content-card">
                <img
                  src="../../../../assets/create-sound-v2/news-botnoi-voice.webp"
                  alt="news-botnoi-voice"
                />
              </div>
            </div>
          </div>

          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#feedbackCarousel"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <!-- <button
              type="button"
              data-bs-target="#feedbackCarousel"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#feedbackCarousel"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
