<div class="dialog-container">
  <mat-icon class="close" svgIcon="close" (click)="onCancel()"></mat-icon>
  <div class="full-content">
    <mat-icon
      class="card-icon"
      [svgIcon]="data.icon"
      [style.color]="data.icon_color"
    ></mat-icon>
    <h2 class="header">{{ text.header }}</h2>
    <p class="details">
      {{ text.details }}
    </p>
  </div>
  <div class="group-btn">
    <button class="ok" (click)="onCancel()">{{ text.cancel }}</button>
    <button class="upgrade" (click)="onConfirm()">{{ text.confirm }}</button>
  </div>
</div>
