<div class="partner-container">
  <div class="content">
    <h3 class="header">{{ text?.header }}</h3>
    <div class="counting-card">
      <div class="cards user-card">
        <span class="card-header">{{ text?.header_card }}</span>
        <p class="m-0 user-details">{{ text?.detail_card }}</p>
      </div>
      <div class="cards generate-card">
        <span class="card-header">{{ text.header_card2 }}</span>
        <p class="m-0 generate-details">{{ text?.detail_card2 }}</p>
      </div>
    </div>
    <div class="partner-section">
      <h2 class="partner-header m-0">
        {{ text?.header_2 }}
      </h2>
      <div class="partner-logos">
        <div class="slide">
          <img
            src="../../../../assets/landing-v3/customer_logo/1.webp"
            alt="logos"
          />
        </div>
        <div class="slide">
          <img
            src="../../../../assets/landing-v3/customer_logo/2.webp"
            alt="logos"
          />
        </div>
        <div class="slide">
          <img
            src="../../../../assets/landing-v3/customer_logo/3.webp"
            alt="logos"
          />
        </div>
        <div class="slide">
          <img
            src="../../../../assets/landing-v3/customer_logo/4.webp"
            alt="logos"
          />
        </div>
        <div class="slide">
          <img
            src="../../../../assets/landing-v3/customer_logo/5.webp"
            alt="logos"
          />
        </div>
        <!-- <div class="slide-track">
          <div class="slide">
            <img
              src="../../../../assets/landing-v3/customer_logo/1.webp"
              alt="logos"
            />
          </div>
          <div class="slide">
            <img
              src="../../../../assets/landing-v3/customer_logo/2.webp"
              alt="logos"
            />
          </div>
          <div class="slide">
            <img
              src="../../../../assets/landing-v3/customer_logo/3.webp"
              alt="logos"
            />
          </div>
          <div class="slide">
            <img
              src="../../../../assets/landing-v3/customer_logo/4.webp"
              alt="logos"
            />
          </div>
          <div class="slide">
            <img
              src="../../../../assets/landing-v3/customer_logo/5.webp"
              alt="logos"
            />
          </div>
        </div>
        <div class="slide-track">
          <div class="slide">
            <img
              src="../../../../assets/landing-v3/customer_logo/1.webp"
              alt="logos"
            />
          </div>
          <div class="slide">
            <img
              src="../../../../assets/landing-v3/customer_logo/2.webp"
              alt="logos"
            />
          </div>
          <div class="slide">
            <img
              src="../../../../assets/landing-v3/customer_logo/3.webp"
              alt="logos"
            />
          </div>
          <div class="slide">
            <img
              src="../../../../assets/landing-v3/customer_logo/4.webp"
              alt="logos"
            />
          </div>
          <div class="slide">
            <img
              src="../../../../assets/landing-v3/customer_logo/5.webp"
              alt="logos"
            />
          </div>
        </div>
        <div class="slide-track">
          <div class="slide">
            <img
              src="../../../../assets/landing-v3/customer_logo/1.webp"
              alt="logos"
            />
          </div>
          <div class="slide">
            <img
              src="../../../../assets/landing-v3/customer_logo/2.webp"
              alt="logos"
            />
          </div>
          <div class="slide">
            <img
              src="../../../../assets/landing-v3/customer_logo/3.webp"
              alt="logos"
            />
          </div>
          <div class="slide">
            <img
              src="../../../../assets/landing-v3/customer_logo/4.webp"
              alt="logos"
            />
          </div>
          <div class="slide">
            <img
              src="../../../../assets/landing-v3/customer_logo/5.webp"
              alt="logos"
            />
          </div>
        </div> -->
      </div>
    </div>
    <div class="become-partner">
      <button id="LD_partner_click" class="partnet-btn" (click)="contract()">
        {{ text?.btn }}
      </button>
    </div>
  </div>
</div>
