<div class="canvas">
  <div class="leftside">
    <h1 class="heading">
      {{ text.studio.heading.text_1 }}
      <span class="special_heading">{{
        text.studio.heading.text_highlight
      }}</span>
    </h1>

    <div class="feature_showcase">
      <div class="first_row">
        <div class="feature">
          <img
            src="../../../assets/icons/studio-features-icon/clock.svg"
            alt="clock"
            class="feature-icon"
          />
          <div class="name">เว้นวรรค</div>
        </div>
        <div class="feature">
          <img
            src="../../../assets/icons/studio-features-icon/world.svg"
            alt="clock"
            class="feature-icon"
          />

          <div class="name">เลือกภาษา</div>
        </div>
        <div class="feature">
          <img
            src="../../../assets/icons/studio-features-icon/pencil-write.svg"
            alt="clock"
            class="feature-icon"
          />
          <div class="name">แก้ไขคำอ่าน</div>
        </div>
      </div>

      <div class="second_row">
        <div class="feature">
          <img
            src="../../../assets/icons/studio-features-icon/cut.svg"
            alt="clock"
            class="feature-icon"
          />
          <div class="name">แบ่งประโยค</div>
        </div>
        <div class="feature">
          <img
            src="../../../assets/icons/studio-features-icon/play.svg"
            alt="clock"
            class="feature-icon"
          />

          <div class="name">เล่นเสียงทั้งหมด</div>
        </div>
        <div class="feature">
          <img
            src="../../../assets/icons/studio-features-icon/download.svg"
            alt="clock"
            class="feature-icon"
          />
          <div class="name">ดาวน์โหลดเสียง</div>
        </div>
      </div>
    </div>
    <div class="start_project_button">
      <div class="btn_text">เริ่มสร้างโปรเจกต์ของคุณกันเลย</div>
    </div>
  </div>
  <div class="rightside">
    <img
      src="../../../assets/studio/screenshot.png"
      alt="clock"
      class="feature-icon"
    />
  </div>
</div>
