.blacklist-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100%;
  .blacklist-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    span{
      font-family: "Sarabun";
      color: white;
      font-size: clamp(18px,3vw,24px);
    }
  }
}
