<div id="ex-sound" class="examplesound">
  <div class="main-row-1">
    <div class="heading_text">
      <div class="header-text-row-1">
        <h1 class="whiteheading">{{ text.sound_sample.heading_text_h2_1 }}</h1>
        <h1 class="blueheading">{{ text.sound_sample.heading_text_p }}</h1>
      </div>
      <h1 class="whiteheading">{{ text.sound_sample.heading_text_h2_2 }}</h1>
    </div>
    <div class="line-head"></div>
    <div class="subheading_text">
      <h1 class="whitesubheading">
        {{ text.sound_sample.subheading_text_h2_1 }}
      </h1>
      <h1 class="bluesubheading">{{ text.sound_sample.subheading_text_p }}</h1>
    </div>
  </div>
  <div class="column2">
    <div class="bg-asia">
      <img src="../../../../assets/img/east_asia.png" alt="map" />
    </div>
    <div class="actor-icon">
      <img
        class="mmvoice voiceicon"
        src="../../../../assets/icons/toolbar/conversation/voice/myanmarVoice.png"
        alt="V"
      /><img
        class="lavoice voiceicon"
        src="../../../../assets/icons/toolbar/conversation/voice/laosVoice.png"
        alt="V"
      /><img
        class="thvoice voiceicon"
        src="../../../../assets/icons/toolbar/conversation/voice/thaiVoice.png"
        alt="V"
      /><img
        class="vtvoice voiceicon"
        src="../../../../assets/icons/toolbar/conversation/voice/vietnamVoice.png"
        alt="V"
      /><img
        class="thsouthvoice voiceicon"
        src="../../../../assets/icons/toolbar/conversation/voice/thaiSouthVoice.png"
        alt="V"
      /><img
        class="malayvoice voiceicon"
        src="../../../../assets/icons/toolbar/conversation/voice/malayVoice.png"
        alt="V"
      /><img
        class="indovoice voiceicon"
        src="../../../../assets/icons/toolbar/conversation/voice/indoVoice.png"
        alt="V"
      />
      <img
        class="filipinonorthvoice voiceicon"
        src="../../../../assets/icons/toolbar/conversation/voice/filipinonorthVoice.png"
        alt="V"
      /><img
        class="filipinoeastvoice voiceicon"
        src="../../../../assets/icons/toolbar/conversation/voice/filipinoeastVoice.png"
        alt="V"
      /><img
        class="singaporewestvoice voiceicon"
        src="../../../../assets/icons/toolbar/conversation/voice/singaporewestVoice.png"
        alt="V"
      /><img
        class="singaporemidvoice voiceicon"
        src="../../../../assets/icons/toolbar/conversation/voice/singaporemidVoice.png"
        alt="V"
      /><img
        class="singaporeeastvoice voiceicon"
        src="../../../../assets/icons/toolbar/conversation/voice/singaporeeastVoice.png"
        alt="V"
      />
    </div>
  </div>
  <div class="desktop-body">
    <div class="column1">
      <img
        class="actor"
        src="../../../../assets/images/carousel/Ava-global.png"
        alt="ava"
      />
    </div>
    <div class="column3">
      <div class="line1">
        <h1 class="whitetext">{{ text.sound_sample.text_text_1 }} &nbsp;</h1>

        <h1 class="bluetext">{{ text.sound_sample.text_text_2 }}</h1>
      </div>
      <div class="line2">
        <h1 class="whitetext">{{ text.sound_sample.text_text_3 }} &nbsp;</h1>
        <h1 class="bluetext">{{ text.sound_sample.text_text_4 }} &nbsp;</h1>
        <h1 class="whitetext">{{ text.sound_sample.text_text_5 }}</h1>
      </div>
      <div class="line3">
        <h1 class="whitetext">{{ text.sound_sample.text_text_6 }}</h1>
      </div>
      <div class="line4">
        <h1 class="whitetext">{{ text.sound_sample.text_text_7 }}</h1>
      </div>
      <div class="line5">
        <img
          src="../../../../assets/icons/toolbar/conversation/flagsRect/CN.svg"
          alt="Flag 1"
        /><img
          src="../../../../assets/icons/toolbar/conversation/flagsRect/JP.svg"
          alt="Flag 2"
        /><img
          src="../../../../assets/icons/toolbar/conversation/flagsRect/VN.svg"
          alt="Flag 3"
        /><img
          src="../../../../assets/icons/toolbar/conversation/flagsRect/LA.svg"
          alt="Flag 4"
        /><img
          src="../../../../assets/icons/toolbar/conversation/flagsRect/MM.svg"
          alt="Flag 5"
        /><img
          src="../../../../assets/icons/toolbar/conversation/flagsRect/ID.svg"
          alt="Flag 6"
        /><img
          src="../../../../assets/icons/toolbar/conversation/flagsRect/TH.svg"
          alt="Flag 7"
        /><img
          src="../../../../assets/icons/toolbar/conversation/flagsRect/EN.svg"
          alt="Flag 8"
        />
      </div>
      <div class="line6">
        <a href="#" class="box">
          <span class="box-text">{{ text.sound_sample.text_btn }}</span>
        </a>
      </div>
    </div>

    <!-- <div class="sound-row">
      <div class="soundcolumn" *ngFor="let s of malespeaker; let i = index">
        <div
          class="soundcircle"
          [ngStyle]="{ top: toparray[i] + 'px' }"
          [class.soundcircle-hover]="nowhover == i || nowplay == i"
          (mouseenter)="hover(i)"
          (mouseleave)="mouseout()"
        >
          <img src="{{ s.face_image }}" alt="{{ s.thai_name }}" />
          <div class="floatbutton">
            <button *ngIf="nowaudioplay != i" (click)="playsound(s.audio, i)">
              <mat-icon>play_arrow</mat-icon>
            </button>
            <button *ngIf="nowaudioplay == i" (click)="stopsound()">
              <mat-icon>pause</mat-icon>
            </button>
            <h5 class="speakername">{{ s.thai_name }}</h5>
          </div>
        </div>
      </div> -->
    <!-- </div> -->

    <!-- <div class="center-line">
      <div class="line-progress"></div>
      <div class="progress_bar">
        <div *ngFor="let c of soundcolumn; let i = index">
          <div
            class="linecolumn"
            [ngClass]="{ whitebar: audiotime < i, bluebar: audiotime >= i }"
            [ngStyle]="{ height: progress_array[i] + 'px' }"
          ></div>
        </div>
      </div>
      <div class="line-progress"></div>
    </div> -->

    <!--
    <div class="sound-row">
      <div class="soundcolumn" *ngFor="let s of femalespeaker; let i = index">
        <div
          class="soundcircle"
          [ngStyle]="{ top: bottomarray[i] + 'px' }"
          [class.soundcircle-hover]="nowhover == i + 7 || nowplay == i + 7"
          (mouseenter)="hover(i + 7)"
          (mouseleave)="mouseout()"
        >
          <img src="{{ s.face_image }}" alt="{{ s.thai_name }}" />
          <div class="floatbutton">
            <button
              *ngIf="nowaudioplay != i + 7"
              (click)="playsound(s.audio, i + 7)"
            >
              <mat-icon>play_arrow</mat-icon>
            </button>
            <button *ngIf="nowaudioplay == i + 7" (click)="stopsound()">
              <mat-icon>pause</mat-icon>
            </button>
            <h5 class="speakername">{{ s.thai_name }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div> -->

    <!-- <div class="mobile-body">
      <div class="soundcarousel">
        <div class="floatCarouselButton">
          <a class="carouselBack" (click)="carouselBack()"
            ><mat-icon>arrow_back_ios</mat-icon></a
          >
          <a class="carouselForward" (click)="carouselForward()"
            ><mat-icon>arrow_forward_ios</mat-icon></a
          >
        </div>

        <div class="soundcolumn" *ngFor="let s of allspeaker; let i = index">
          <div
            class="soundcircle"
            [class.hide]="
              focussoundindex != i &&
              focussoundindex != (i + 1) % 14 &&
              focussoundindex != (i - 1 < 0 ? 13 : i - 1)
            "
            [class.left-circle]="focussoundindex == (i + 1) % 14"
            [class.center-circle]="focussoundindex == i"
            [class.right-circle]="focussoundindex == (i - 1 < 0 ? 13 : i - 1)"
          > -->
    <!-- text ที่แสดงชื่อ -->
    <!-- <h5 class="speakername">{{ s.thai_name }}</h5>

            <img
              src="{{ s.face_image }}"
              alt="{{ text.sound_sample.allSpeaker_List[i] }}"
            />
          </div>
        </div>
      </div>
      <div class="center-line">
        <hr />
        <div class="progress_bar">
          <div *ngFor="let c of soundcolumn; let i = index">
            <div
              class="linecolumn"
              [ngClass]="{ whitebar: audiotime < i, bluebar: audiotime >= i }"
              [ngStyle]="{ height: progress_array[i] + 'px' }"
            ></div>
          </div>
        </div>
        <hr />
      </div>
      <div class="soundmenu">
        <button *ngIf="nowaudioplay == -1" (click)="playsoundMoblie()">
          <mat-icon>play_arrow</mat-icon>
        </button>
        <button *ngIf="nowaudioplay != -1" (click)="stopsound()">
          <mat-icon>pause</mat-icon>
        </button>
      </div>
    </div> -->
  </div>
  <!-- <div class="line-bottom"></div> -->
  <!--
  <div class="bottom-examplesound">
    <button class="seeallspeaker" (click)="goto_selectVoice('marketplace')">
      {{ text.sound_sample.anotherVoiceover }}
    </button>
  </div> -->
</div>
