.bg {
  background: #f1ecf6;
  width: 100%;

  .container {
    .experience {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 12px;
      // background: linear-gradient(180deg, #502D93 0%, #C87DD4 100%);
      .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0px 120px 0px 0px;
        .header-title {
          font-family: "Your Font Family", sans-serif;
          font-family: Prompt;
          font-size: 40px;
          font-style: normal;
          font-weight: 500;
          color: #492158;
          display: inline-block;
          margin: 0;
        }
        .header-subtitle {
          font-family: "Your Font Family", sans-serif;
          font-family: Prompt;
          font-style: normal;
          font-size: 18px;
          color: #575757;
          max-width: 100%;
          margin-top: 20px;
        }
      }
      .card-container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 20px;
        gap: 44px;
        flex-wrap: wrap;

        .card-speaker {
          display: flex;
          flex-direction: column;
          position: relative;
          max-width: 246px;
          height: auto;
          // height: 277px;
          border-radius: 20px;
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
          background: #fff;

          .image-wrapper {
            position: relative;
            padding: 6px 6px 0px 6px;

            .border-img {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 234px;
              height: auto;
              // background-color: #37215e;
              border-radius: 18px 18px 0px 0px;
              img {
                width: 100%;
                height: 100%;
                border-radius: 18px 18px 0px 0px;
              }
            }
            .mini-box {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              // border: 1px solid #575757;
              width: auto;

              gap: 4px;
              margin-left: 5px;
              position: absolute;
              bottom: 6px !important;

              .type {
                width: 87px;
                // width: auto;
                height: 100%;
                background: #c87dd4;
                text-align: center;
                border-radius: 8px;
                padding: 5px 0;
                font-family: Prompt;
                font-size: 10px;
                font-style: normal;
                font-weight: 500;
                color: #ffffff;
                letter-spacing: 0.5px;
              }
              .others {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 5px;
                gap: 10px;
                height: 100%;
                // width: auto;
                width: 87px;
                border-radius: 8px;
                background-color: #ffffff;
                // filter: drop-shadow(1px 0.2px 2px #555);
                position: relative;

                img {
                  width: 18px;
                  height: 18px;
                  border-radius: 50%;
                  object-fit: cover;
                  position: absolute;

                  // &:first-child {
                  //   left: 10px;
                  // }

                  &:last-child {
                    z-index: 0;
                    left: 20px;
                  }
                }

                .text {
                  font-family: Prompt;
                  font-size: 10px;
                  font-style: normal;
                  font-weight: 500;
                  color: #000;
                  white-space: nowrap;
                  text-align: center;
                  margin-left: 23px;
                }
              }
            }
          }
          .footer {
            width: 246px;
            height: 55px;
            padding: 10px 20px 10px 20px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .name {
              .speaker-name {
                width: 100%;
                color: #37215e;
                text-align: center;
                padding: 5px 0;
                font-family: Prompt;
                font-size: 20px;
                font-style: normal;
                font-weight: bold;
                text-transform: uppercase;
                text-shadow: 0px 1px #aaaaaa;
              }
            }

            .border-toggle-sound {
              background: linear-gradient(180deg, #502d93 0%, #c87dd4 100%);
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              opacity: 0.8;
              padding: 2px;
              width: 45px;
              height: 45px;
              &:hover {
                background-image: linear-gradient(
                    rgba(255, 255, 255, 0.5),
                    rgba(255, 255, 255, 0.5)
                  ),
                  linear-gradient(
                    to right,
                    #502d93,
                    #703fa3,
                    #8e53b3,
                    #ab67c3,
                    #c87dd4
                  );
                background-blend-mode: lighten;
              }
              &:focus {
                background: linear-gradient(180deg, #502d93 0%, #c87dd4 100%);
              }

              .toggle-sound {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                background: #ffffff;
                border-radius: 50%;
                transition: all 0.3s;

                ::ng-deep .play-pause {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 16px;
                  height: 22px;
                  // margin-left: 2px;

                  path {
                    fill: #502d93;
                    width: 16px;
                    height: 22px;
                    &:hover {
                      opacity: 1;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .card-container-lang {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .row {
          .card-lang {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .language-card {
              width: 402px;
              height: 97px;
              border-radius: 30px;
              padding: 2px;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
              background-image: linear-gradient(
                to right,
                #502d93,
                #703fa3,
                #8e53b3,
                #ab67c3,
                #c87dd4
              );
              margin: 10px;

              .card-color {
                width: 100%;
                height: 100%;
                border-radius: 28px;
                padding: 8px 20px;
                background: #fff;

                cursor: pointer;

                .flag-col {
                  flex: 0 0 auto;
                  display: flex;
                  align-items: center;
                  padding-right: 0;
                  margin-right: 10px;
                }

                img.flag {
                  width: 60px;
                  height: 60px;
                  border-radius: 50%;
                  object-fit: cover;
                }

                .text-col {
                  flex-grow: 1;
                  display: flex;
                  align-items: flex-start;
                  flex-direction: column;
                  justify-content: flex-start;
                  margin-right: 10px;
                }

                .speaker-name {
                  margin-left: 10px;
                  font-family: Prompt;
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 600;
                  text-decoration: underline;
                  color: #000;
                  &:hover {
                    opacity: 0.8;
                    transform: translateY(-2px);
                  }

                  &:active {
                    transform: translateY(2px);
                  }
                }
                .speaker-name-sub {
                  margin-left: 10px;
                  font-family: Prompt;
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 400;
                  color: #595959;
                }

                .button-col {
                  flex: 0 0 auto;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding-left: 10px;

                  .btn-play {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-image: linear-gradient(
                      to bottom,
                      #502d93,
                      #703fa3,
                      #8e53b3,
                      #ab67c3,
                      #c87dd4
                    );
                    border: none;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0.9;

                    &:hover {
                      opacity: 0.8;
                    }
                    &:focus {
                      opacity: 1;
                    }
                    ::ng-deep .play-pause {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      width: 16px;
                      height: 16px;

                      path {
                        fill: #fff;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .gradient-button {
        display: flex;
        justify-content: center;
        align-self: center;
        width: 233px;
        padding: 10px;
        border: none;
        border-radius: 12px;
        background: linear-gradient(
          96deg,
          rgb(50, 33, 96) 0%,
          rgb(107, 35, 77) 100%
        );
        color: white;
        font-size: 32px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        transition: background-color 0.3s, box-shadow 0.2s, transform 0.2s;
        opacity: 0.9;
        filter: drop-shadow(0px 3px 3px #555);
        margin-bottom: 116px;
      }

      .gradient-button:hover {
        background: linear-gradient(
          96deg,
          rgb(50, 33, 96) 0%,
          rgb(107, 35, 77) 100%
        );
        opacity: 0.8;
        transform: translateY(3px);
      }
      .gradient-button:focus {
        background: linear-gradient(
          96deg,
          rgb(50, 33, 96) 0%,
          rgb(107, 35, 77) 100%
        );
        opacity: 1;
      }

      .gradient-button:active {
        transform: translateY(2px);
      }
    }
    // CSS Landing
    .experience-landing {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 12px;

      .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .header-title {
          font-family: "Your Font Family", sans-serif;
          font-family: Prompt;
          font-size: 40px;
          font-style: normal;
          font-weight: 500;
          color: #492158;
          display: inline-block;
          margin: 0;
        }
        .header-subtitle {
          font-family: "Your Font Family", sans-serif;
          font-family: Prompt;
          font-style: normal;
          font-size: 18px;
          color: #575757;
          max-width: 100%;
          margin-top: 20px;
        }
      }

      .card-container-lang {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        .row {
          .card-lang {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .language-card {
              width: 440px;
              height: auto;
              border-radius: 30px;
              padding: 2px;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
              background-image: linear-gradient(
                to right,
                #502d93,
                #703fa3,
                #8e53b3,
                #ab67c3,
                #c87dd4
              );
              margin: 10px;

              .card-color {
                width: 100%;
                height: 100%;
                border-radius: 28px;
                padding: 8px 20px;
                background: #fff;

                cursor: pointer;

                .flag-col {
                  flex: 0 0 auto;
                  display: flex;
                  align-items: center;
                  padding-right: 0;
                  margin-right: 10px;
                }

                img.flag {
                  width: 60px;
                  height: 60px;
                  border-radius: 50%;
                  object-fit: cover;
                }

                .text-col {
                  flex-grow: 1;
                  display: flex;
                  align-items: flex-start;
                  flex-direction: column;
                  justify-content: flex-start;
                  margin-right: 10px;
                }

                .speaker-name {
                  margin-left: 10px;
                  font-family: Prompt;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 600;
                  text-decoration: underline;
                  color: #000;
                  &:hover {
                    opacity: 0.8;
                    transform: translateY(-2px);
                  }

                  &:active {
                    transform: translateY(2px);
                  }
                }
                .speaker-name-sub {
                  margin-left: 10px;
                  font-family: Prompt;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  color: #595959;
                }
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 1200px), (max-width: 1399px) {
      .experience,
      .experience-landing {
        .card-container {
          justify-content: center;
          gap: 12px;
          // margin-right: 46px;
          // margin-bottom: 12px;
        }
        .card-container-lang {
          .row {
            .language-card {
              width: calc((100% / 3) - 20px);
              margin: 10px;
              width: 100%;
              .card-color {
                .flag-col,
                .text-col {
                  .speaker-name,
                  .speaker-name-sub {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
    @media (max-width: 1199px) {
      .experience {
        .card-container {
          display: grid;
          grid-template-columns: repeat(2, 0fr);

          gap: 12px;
          justify-content: center;
          align-items: center;
        }
      }

      .experience,
      .card-speaker {
        margin-bottom: 0;
      }
    }

    @media (max-width: 993px) {
      .experience {
        .card-container {
          flex-wrap: wrap;
          justify-content: center;
          gap: 12px;
        }
      }
      .experience-landing {
        .card-container-lang {
          .row {
           
            .card-lang {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

    @media (max-width: 992px) {
      .experience,
      .experience-landing {
        justify-content: center;
        .card-container {
          flex-wrap: wrap;
          justify-content: center;
          gap: 12px;
        }
        .play-sounds-container {
          width: 100%;
          .card-container-lang {
            flex-direction: column;
            .row {
              .card-lang {
                flex-direction: column;

                .language-card {
                  align-self: center;
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 767px) {
      .experience {
        justify-content: center;
        .header {
          padding: 0px;
        }
        .card-container {
          flex-wrap: wrap;
          justify-content: center;
          gap: 8px;
          .card-speaker {
            margin-right: 0px;
            margin-bottom: 12px;
          }
        }
        .play-sounds-container {
          width: 100%;
          .card-container-lang {
            flex-direction: column;
            .row {
              .card-lang {
                flex-direction: column;

                .language-card {
                  align-self: center;
                }
              }
            }
          }
        }
      }
    }
    

    @media (max-width: 360px),
      (max-width: 520px),
      (max-width: 350px),
      (max-width: 375px),
      (max-width: 390px) {
      .experience {
        .header {
          padding: 5px;
          .header-title {
            font-size: 32px !important;
          }
          .header-subtitle {
            font-size: 18px !important;
          }
        }
        .card-container {
          flex-wrap: wrap;
          flex-direction: row;
          // justify-content: center;
          gap: 8px;
          padding: 0px;
          .card-speaker {
            // width: 160px;
            height: auto;
            margin: 0px;
            .image-wrapper {
              height: auto;
              .border-img {
                width: 100%;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
              .mini-box {
                .type {
                  width: 65px;
                  height: auto;
                  padding: 3px;
                  font-size: 8px;
                }
                .others {
                  width: 65px;
                  height: auto;
                  font-size: 8px;
                  padding: 3px;
                  img {
                    width: 14px;
                    height: 14px;
                  }
                  .text {
                    font-size: 8px;
                    margin-left: 17px;
                  }
                }
              }
            }
            .footer {
              width: 160px;
              height: 100%;
              .name {
                .speaker-name {
                  font-size: 14px;
                }
              }
              .border-toggle-sound {
                padding: 1px;
                width: 25px;
                height: 25px;
                .toggle-sound {
                  width: 100%;
                  height: 100%;

                  ::ng-deep .play-pause {
                    width: 10px;
                    height: 10px;
                  }
                  path {
                    width: 10px;
                    height: 10px;
                  }
                }
              }
            }
          }
        }
        .play-sounds-container {
          width: 100%;
          padding: 5px;
          .card-container-lang {
            flex-direction: column;
            .row {
              .card-lang {
                flex-direction: column;

                .language-card {
                  width: 327px;
                  align-self: center;
                  .flag-col {
                    img.flag {
                      width: 40px;
                      height: 40px;
                    }
                  }
                  .button-col {
                    .btn-play {
                      width: 36px;
                      height: 36px;
                    }
                    ::ng-deep .play-pause {
                      width: 13px;
                      height: 19px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .language-card {
    width: 100% !important;
  }

  .footer {
    width: 100% !important;
  }

  .experience .card-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
