<div class="container-cookie">
  <div class="container-cookie1">
    <div class="topic-cookie">
      <img class="img-bot" src="../../assets/img/botprivacy1.svg" alt="botnoi บอทน้อย คุกกี้" />
      <div>Cookie policy</div>
    </div>
    <div class="frame-topic">
      <div class="topic-text">
        <p>What are cookies?</p>
      </div>
      <div class="text-cookie">
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;When you visit the website, information is
          stored on your terminal device in the form of a “cookie.” Cookies are
          small files that are sent to and stored on your computer or other
          internet connected device to identify your browser or store
          information. We want you to be familiar with how we collect, use and
          disclose information from and about you because we respect your
          concerns about privacy, and we want to maintain your trust.
        </p>
      </div>
      <div class="topic-text">
        <p>How we use Cookie Information</p>
      </div>
      <div class="text-cookie">
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;We collect the cookies to deliver and improve
          our services, and function effectively. Cookies also allow us to
          display relevant content, providing advertising, services and products
          and enhance your online experience. In addition, cookies can recognise
          you and remember important information that will make your use of a
          website more convenient such as by remembering your login status and
          user preferences such as language preferences or questions that users
          have already answered for analytics to create a better user
          experience. Furthermore, it also use to assist your newsletter consent
          managing coin analytics and coin price alert notifications, news on
          latest marketing campaigns and handbooks.
        </p>
      </div>
      <div class="topic-text">
        <p>Cookies We Use</p>
      </div>
      <div class="text-cookie">
        <strong><u>Analytical/Performance Cookies: </u></strong>
        <span
          >These Cookies are essential to our services in order to facilitate
          our authentication, registration, log-in or navigate the features of
          our services and cannot be switched off in our system. Without these
          cookies, you may not be able to take full advantage of our services or
          features, and our service will not perform as smoothly for you as we
          would like.</span
        >
        <br /><strong><u>Strictly Necessary Cookies: </u></strong>
        <span>
          These cookies allow us to measure and improve the performance of our
          sites. The information will help create reports and statistics on
          visits and traffic sources. Performance cookies collect information
          such as your IP address, type of device, operating system, date and
          time of page visits, and pages visited. If you do not allow these
          cookies we will not know when you have visited our site, and will not
          be able to monitor its performance. The information allows us to
          record any difficulties you have with our services and show us whether
          our advertising is effective or not.</span
        >
        <br /><strong><u>Functional Cookies: </u></strong>
        <span>
          Functional Cookies collect information on the usage of our websites,
          including for instance users language preferences, theme preferences
          or login sessions. Functional cookies serve the purpose of improving
          the user friendliness of a website and therefore ensuring the user’s
          best experience.</span
        >
        <br /><strong><u>Cookies for marketing purposes: </u></strong>
        <span>
          Cookies for marketing purposes are used to offer more relevant content
          to users, based on their specific interests. They are also used to
          limit the display frequency of an ad and to measure and control the
          effectiveness of advertising campaigns. They register whether users
          have visited a website or not, and which contents were used. This
          cookie also includes intercom cookies which assist us in our live chat
          module on our website.</span
        >
      </div>
      <div class="topic-text">
        <p>How can I deactivate cookies? (Managing Cookies)</p>
      </div>
      <div class="text-cookie">
        <span>
          If you do not want us to recognise some of your information, you can
          visit cookies preference page provided by your browsers (usually
          located within the “Help”, “Tool” or “Edit” settings) or review the
          instructions provided by the browsers listed here:
        </span><br>
        <span>
          Internet Explorer :<a
            href="https://support.microsoft.com/en-us/help/260971/description-of-cookies"
            >https://support.microsoft.com/en-us/help/260971/description-of-cookies</a
          >
        </span><br>
        <span>
          Google Chrome:
          <a href="https://support.google.com/chrome/answer/95647?hl=en-GB"
            >https://support.google.com/chrome/answer/95647?hl=en-GB</a
          >
        </span><br>
        <span>
          Mozilla Firefox:
          <a
            href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer"
            >https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer</a
          >
        </span><br>
        <span>
          Safari Desktop:
          <a
            href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac"
            >https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac</a
          >
        </span><br>
        <span>
          Safari Mobile:
          <u
            ><a href="https://support.apple.com/en-us/HT201265"
              >https://support.apple.com/en-us/HT201265</a
            ></u
          >
        </span>
        <br>
        <span>
          Android browser:&nbsp;<a
            href="https://support.google.com/nexus/answer/54068?visit_id=637284515772371005-3491757126&amp;hl=en&amp;rd=1"
            >https://support.google.com/nexus/answer/54068?visit_id=637284515772371005-3491757126&amp;hl=en&amp;rd=1</a
          >
        </span>
      </div>
    </div>
  </div>
</div>
