<div class="instruction-container">
  <div class="header">
    <h1>โปรแกรมแปลงข้อความเป็นเสียง</h1>
    <p>ขั้นตอนการใช้งาน</p>
  </div>
  <div class="card-contain">
    <div class="card-instruct">พิมพ์หรือวางข้อความลงในช่องด้านล่าง</div>
    <div class="card-instruct">กดปุ่มสร้างเสียง หรือกด Alt+Enter</div>
    <div class="card-instruct">กดปุ่ม เล่น เพื่อลองฟัง หรือกดดาวน์โหลด</div>
  </div>
  <!-- <div class="instruction">
    <p>คำแนะนำ</p>
    <ul>
      <li>กด Enter เพื่อขึ้นบรรทัดใหม่</li>
      <li>กด Shift+Enter เพื่อตัดประโยคและสร้างเสียง</li>
      <li>กด Space bar เพื่อให้เสียงเว้นช่วงในการอ่าน</li>
      <li>คำที่อ่านไม่ถูกสามารถแก้ไขคำอ่านได้ในช่องด้านซ้าย</li>
      <li>กดสร้างโปรเจคใหม่เพื่อเริ่มหน้าสตูดิโอสร้างเสียงใหม่</li>
    </ul>
  </div> -->
</div>
