<div class="xmas_container">
  <img
    src="../../../../assets/landing-v3/xmas/bnvxmas2023_1.webp"
    alt="botnoi_xmas"
  />
  <div class="text_container">
    <h1 class="header">Clip Battle: ประลองทำคลิปโปรโมท Botnoi Voice!</h1>
    <p class="sub_header">
      ท้าทายตัวเองในการทำคลิปเชิญชวนให้คนมาใช้ Botnoi Voice! ให้น่าสนใจที่สุด
      และติดแฮชแท็ก #botnoivoice ก็รอรับรางวัลได้เลย
    </p>
    <p class="price">
      รางวัลพิเศษ: คลิปที่ได้ 500,000 View คลิปแรกได้รับเงินสด 10,000 บาท!
    </p>
    <p class="rule">กติกา :</p>
    <ul>
      <p class="rule_list"><b>1.</b> ทำคลิปโปรโมตความยาวไม่เกิน 1 นาที</p>
      <p class="rule_list">
        <b>2.</b> ติดแฮชแท็ก <b> #botnoivoice </b> พร้อมโพสต์ในช่องทาง Facebook
        หรือ Tiktok
      </p>
      <p class="rule_list">
        <b>3.</b> นำลิงค์ที่โพสต์ส่งทาง Inbox เพจ "Botnoi Voice - Text to Speech
      </p>
      <p class="rule_list">
        <b>4.</b> คลิปที่ส่งประกวดต้องอัพโหลดตั้งแต่วันที่ 19 ธันวาคม 2023
        เป็นต้นไป
      </p>
    </ul>
    <p class="point shadow">ใส่ Code : bnvxmas ก็สามารถรับ 2,000 พ้อยด์ ฟรี!</p>
    <span class="footer">
      รีบมาร่วม Clip Battle และให้เสียง Botnoi Voice
      ของคุณเป็นที่น่าจดจำกันนะคะ/ครับ!
    </span>
  </div>
</div>
