.alert-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;

  background-color: #FBEFD5;
  color: #785B26;
  padding: 10px 20px;
}

.warning {

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.text-slide {
  animation: slide 30s infinite;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes slide {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(-50%);
  }
}
