.maintenance-container {
  background: linear-gradient(91.04deg, #222166 5.33%, #812448 90.37%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10%;

  .title {
    font-weight: bold;
    font-size: clamp(26px,3vw,32px);
    padding: 32px 0 20px;
    line-height: 35px;
  }

  .sub {
    font-size: clamp(18px,3vw,24px);
    line-height: 25px;
  }

  .footer {
    position: absolute;
    bottom: 75px;
  }

  span {
    font-family: 'Sarabun';
    color: #FFFFFF;
    text-align: center;
  }
}
