.footer-container {
  width: 100%;
  padding: 56px 0px;

  .footer {
    padding: 36px 108px 16px;
    display: flex;
    flex-direction: row;
    gap: 60px;

    .navigation,
    .contact,
    .social {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 8px;

      .header {
        font-family: Sarabun;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 150% */
        background: linear-gradient(91deg, #222166 5.33%, #812448 90.37%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .text {
        width: max-content;
        margin: 0;
        padding: 8px 0px;
        color: #212121;
        font-family: Sarabun;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px; /* 150% */
        cursor: pointer;
      }
    }

    .social {
      .icons {
        display: flex;
        flex-direction: row;
        gap: 18px;

        mat-icon {
          width: 32px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .footer-container {
    .footer {
      padding: 36px 28px 16px;
    }
  }
}

@media (max-width: 650px) {
  .footer-container {
    .footer {
      flex-direction: column;
      gap: 16px;

      .navigation,
      .contact,
      .social {
        justify-content: center;
        align-items: center;

        .header {
          font-size: 20px;
        }
      }
    }
  }
}

.footer-banner {
  width: 100%;
  color: #fff;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
}

.default-cursor {
  cursor: default !important;
}

.dark {
  background-color: #141218 !important;
  color: #fff;
}

.whiteText {
  color: #ffffff !important;
}

.greenHeader {
  color: #37fa8f;
  background: unset !important;
  background-clip: unset !important;
  -webkit-background-clip: unset !important;
  -webkit-text-fill-color: #37fa8f !important;
}
